.page-header{
    background-color: crimson;
    height: 100px;
    display: flex;
    justify-content: center;
}

.page-header h1{
    color: white;
    padding: 1.5rem 0;
}

.page-header .fa-route{
    color: white;
    font-size:48px;
    padding: 1rem 0;
    margin-right: 1rem;
}

.container{
    text-align: center;
    position: relative;
    overflow: auto;
}

.container button{
    background-color: crimson;
    color: white;
    margin-top: 100px;
}

#dataBaseInput{
    display: block;
    margin: auto;
    margin-top: 50px;
}

.fa-file-alt{
    margin-right: 10px;
}

.fa-sync{
    margin-right: 10px;
}

#output{
    margin-top: 50px;
    color: crimson;
    font-size: large;
    text-align: left;
}

#labelAddress{
    color: crimson;
}
#labelDistanceMatrix{
    color: crimson;
    margin-bottom: 20px;
}

#labelTimeMatrix{
    color: crimson;
    margin-bottom: 20px;
}

.base-timer {
    position: relative;
    height: 150px;
    width: 150px;
    margin-left: 650px;
}

/* Removes SVG styling that would hide the time label */
.base-timer__circle {
    fill: none;
    stroke: none;
}

/* The SVG path that displays the timer's progress */
.base-timer__path-elapsed {
    stroke-width: 7px;
    stroke: crimson;
}

.base-timer__label {
    position: absolute;

    /* Size should match the parent container */
    width: 150px;
    height: 150px;

    /* Keep the label aligned to the top */
    top: 0;

    /* Create a flexible box that centers content vertically and horizontally */
    display: flex;
    align-items: center;
    justify-content: center;

    /* Sort of an arbitrary number; adjust to your liking */
    font-size: 48px;
}

div.scroll{
    overflow-x: auto; 
    overflow-y: hidden; 
    white-space: nowrap; 
}